@page
@model IndexModel
@{
    ViewData["Title"] = "DID";
}


    <h1><b>KYC based on blockchain</b></h1>

    <div class = "buttons">
    <a class="btn btn-primary btn-lg" asp-page="/Registration" role="button">REGISTER</a>
   
    <a class="btn btn-primary btn-lg" asp-page="/verification">VERIFICATION</a>
    </div>



